DATABASE_URL="postgresql://postgres:postgres@localhost:5432/star_study_point"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

GEMINI_API_KEY=""
GEMINI_MODEL_DEFAULT="gemini-2.5-flash-lite"
GEMINI_MODEL_DOUBT="gemini-2.5-flash-lite"
GEMINI_MODEL_DAILY="gemini-2.5-flash-lite"
GEMINI_MODEL_NOTES="gemini-2.5-flash-lite"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
